/* fonts styles  */



.azeret-mono{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style : normal;
}

/* shared style */
.main-part-title{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    padding: 0px;
}

.main-part-description{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    /* text-align: justify; */
    /* padding: 80px 97px; */
    padding: 20px 144px 28px 144px;

    /* gap: 48px; */
}

/* Header head section style */
.head{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 150px;
}

.name{
    font-size: 28px;
    font-weight: 800;
    color: #0D1321;
    margin-bottom: 48px;
}

.download-resume{
    margin-top: 38px;
    margin-right: 150px;
    margin-bottom: 36px;
    padding: 17px 24px ;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    color: #0D1321;
}

/* header style */

.header{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: round;
    background-position: cover ;
}

.banner{
 text-align: center;
 justify-content: space-between;
}

.resume-motivation-title{
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin: 32px 221px;
}

.resume-motivation-description{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 32px 221px;
}

.contact-button{
    background-color: #0D1321;
    color: white;
    border-radius: 8px;
    padding: 21px 24px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 55px;
}

/* main body style */


.Web-development-reason{
    margin: 70px 150px 95px 150px;
    /* padding: 80px 97px; */
    border-radius: 16px;
    border: solid rgba(13, 19, 33, 0.2);
    background: rgba(13, 19, 33, 0.02);
}



.reasons-container{
    display: flex;
    justify-content: space-between;
    padding: 48px;
    margin-bottom: 5px;
}

.reason{
    background-color: rgb(255, 255, 255, 1);
    padding: 48px ;
}

.reason-image{
   
    background-color: rgba(255, 255, 255, 1);
    padding: 48px;
}
.reason-title{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 16px;
}

.reason-description{
    color: rgba(13, 19, 33, 1);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 32px;
}
.learn-more-btn{
    padding: 12px 20px;
    font-weight: 500;
    font-size: 20px;
    color: rgba(13, 19, 33, 1);
    border: 1px solid rgba(13, 19, 33, 1);
}

.Inspiration {
    margin: 70px 150px 95px 150px;
    /* padding: 80px 97px; */
    /* border-radius: 16px; */
    /* padding: 0px 152px 20px 148px; */
}

.inspiration-video{
    /* background-size: cover; */
    border: 1px solid rgba(13, 19, 33, 0.2);
    /* padding:48px 0px 48px 0px; */
    padding-top: 48px;
    padding-bottom: 48px;
    border-radius: 16px;
}
iframe {

    display: block;
    margin: 0 auto;
    position: relative;
    width: 70vw;
    /* using for adjust the video height */
    height: calc(70vw/1.77);
    border-radius: 16px;

 }

 .current-target{
    /* padding: 64px  152px 151px 148px; */
    margin: 70px 150px 95px 150px;
    /* padding: 80px 97px; */
    /* border-radius: 16px; */
}

 .skills-container{
    display: flex;
    justify-content: space-between;
    /* padding: 48px 150px; */
 }

 /* shared css of skills */
 .skill-1, .skill-2, .skill-3{
    /* border: 1px solid black; */
    /* margin: 20px; */
    padding: 40px;
    border-radius: 16px;
 }

 .skill-1{
    background-color: rgba(255, 76, 30, 0.05);
    margin-right: 20px;
}

 .skill-2{
    background-color: rgba(0, 76, 232, 0.05);
    margin-right: 20px;
}
 .skill-3{
    background-color: rgba(255, 223, 0, 0.05);
 }

 .skill-title{
    font-size: 24px;
    font-weight: 800; 
    padding-top: 24px;
    padding-bottom: 8px;
 }

 .skill-description{
    color: rgba(13, 19, 33, 1);
    font-size: 16px;
    font-weight: 400;
 }

 .learn-more-link{
    color: rgba(13, 19, 33, 1);
    font-size: 16px;
    font-weight: 700;
    /* text-decoration: none; */
 }

 .support{
    padding: 64px  152px 151px 148px;
    text-align: center;
}

.secondary-bg{
    background-image: url(/assets/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 49px 150px;
    border-radius: 16px;
}

.support-content{
    padding: 65px 48px;
}

.support-title{
    font-size: 32px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
}

.support-description{
    color:  rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
}

.textarea-support{
    border-radius: 8px;
    line-height: normal;
    display: inline-block;


}
::placeholder{
    padding: 10px;
}

.submit-btn{
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    width: 120px;
    height: 54px;
    display:inline-block;
    vertical-align: top;
    
    /* display: block; */
    /* display: inline-block; */
}

.support-form{
    /* float: none; */
    vertical-align: middle;
    /* display: flex; */
}

.footer{
    background-color:rgba(13, 19, 33, 0.03);
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    padding: 32px 150px;
}